@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Track Id (cookie) : @HttpContext.Request.Cookies["Track"]</p>
    <p>Correlation Id : @HttpContext.TraceIdentifier</p>
    <p>Header Correlation Id : @HttpContext.Request.Headers["X-Correlation-ID"]</p>

    <a asp-page="/Error" >Error</a>
</div>
